*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navegacao{
    width: 100%;
}
a{
    margin:10px;
    text-decoration: none;
    color:white;

}
.comeco{
    display:flex;
    justify-content:flex-end;
    text-decoration:solid;
    background-color:black;
}
#masp{
    width:150px;
    height:987px;
    display:flex;
}
.origem{
   display: flex;
   margin: 10px;
   p{
    padding-bottom: 30px;
   }

}
.origem1{
    margin:10px;
}
.paragrafo{
    font-size:10px;
    display: flex;
    justify-content: right;
}
.paulista{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding-top:30px;
    padding:20px;
}
#foto1{
    width: 700px;
    height: 450px;
    border-radius: 30px;
    padding-right:30px;
    padding-left: 10px;
}
.div1{
    flex-direction: column;
    background-color: rgb(202, 55, 55);
    border-radius: 15px;
    width: 400px;
    margin-left: 70px;
    p{
        font-size: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}
#mc{
    width: 700px;
    height: 450px;
    border-radius: 30px;
    padding-right:30px;
    padding-left: 10px;

}
#calcada{
    width: 700px;
    height: 450px;
    border-radius: 30px;
    padding-right:30px;
    padding-left: 10px;
    display:flex;
    align-items: end;
    justify-content: flex-end;

}
 .curiosidades{
    h1{
        display:flex;
        align-items: center;
        padding-left:250px;
    }
 }
.referencias{

    background-color: rgb(202, 55, 55);
    border-radius: 15px;
    width: 400px;
    height: 250px;
    margin-right: 10px;
    margin: 150px;
    p{
     padding-bottom: 30px;
     font-size: 20px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}
.referencia{
    display:flex;
}
.nome{
    display:flex;
}
.mudança{
    background-color: rgb(202, 55, 55);
    border-radius: 15px;
    width: 400px;
    height: 250px;
    margin-right: 10px;
    margin: 150px;
    p{
     padding-bottom: 30px;
     font-size: 20px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}
footer{
    background-color: black;
    width:100%;
    height: 50px;
    p{
        color:white;
        justify-content: center;
        display:flex;
        padding: 10px;
    }
}